<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Dokumen Pendukung Penanggulangan Kemiskinan Kota Tegal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul class="menu">
            <li>
                <img src="{{ url_for('static', filename='img/LOGO-SENIN-KEMIS-white-bg.png') }}"
                alt="Logo Pemerintah Kota Tegal"
                height="40px"
                > 
            </li>
            <li><a href="/">Beranda</a></li>
            <li><a href="/statistik">Statistik</a></li>
            <li><a href="/upaya">Upaya</a></li>
            <li><a href="/organisasi">Organisasi</a></li>
            <li><a href="/dokumen-pendukung">Dokumen Pendukung</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <h1>Dokumen Terkait Penanggulangan Kemiskinan Kota Tegal</h1>
        <table class="dokduk-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Keterangan</th>
                    <th>Waktu Rilis</th>
                    <th>Download</th>
                </tr>    
            </thead>
            
            <tbody id="tbDokduk"> </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/dokduk.js') }}"></script>
</body>
</html>
