<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Tim Koordinasi Penanggulangan Kemiskinan Daerah Kota Tegal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <!-- Navigation Bar -->
    <nav>
        <ul class="menu">
            <li>
                <img src="{{ url_for('static', filename='img/LOGO-SENIN-KEMIS-white-bg.png') }}"
                alt="Logo Pemerintah Kota Tegal"
                height="40px"
                > 
            </li>
            <li><a href="/">Beranda</a></li>
            <li><a href="/statistik">Statistik</a></li>
            <li><a href="/upaya">Upaya</a></li>
            <li><a href="/organisasi">Organisasi</a></li>
            <li><a href="/dokumen-pendukung">Dokumen Pendukung</a></li>
        </ul>
    </nav>

    <div class="org-grid" id="grid">
        <div class="org-item gc-4-7 gr-1" id="box1">
            <table class="mid-tab" id="pj"> </table>
        </div>

        <div class="org-space-item gc-5 gr-2" id="space1">
        </div>

        <div class="org-item gc-4-7 gr-3" id="box2">
            <table class="mid-tab">
                <thead> <tr id="ketua"></tr> </thead>
                <tbody> <tr id="wakilKetua"> </tr> </tbody>
            </table>
        </div>

        <div class="org-space-item gc-5 gr-4" id="space2">
        </div>

        <!-- Baris 2, Kolom 4 -->
        <div class="org-item gc-6-10 gr-5" id="box3">
            <table >
                <thead> <tr id="sekretaris"> </tr> </thead>
                <tbody> 
                    <tr id="wasek1"> </tr>
                    <tr id="wasek2"> </tr>
                    <tr id="wasek3"> </tr>
                </tbody>
            </table>
        </div>

        <div class="org-space-item gc-5 gr-6" id="space3">
        </div>


        <div class="org-item gc-6-10 gr-7" id="box4">
            <table>    
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: center;">Sekretariat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="kepSek"> </tr>
                    <tr id="waKepSek"> </tr>
                    <tr>
                        <td>Anggota</td>
                        <td>:</td>
                        <td>
                            <ul id="listSekretariat"></ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        <div class="org-space-item gc-5 gr-8" id="space4">
        </div>

        <!-- Baris 3, Kolom 1 -->
        <div class="org-item gc-1-5 gr-9" id="box5">
            <table >
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: center;">Kelompok Pengelola Program Bantuan Sosial dan Jaminan Sosial Terpadu Berbasis Rumah Tangga, Keluarga dan Individu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="koorBansos"> </tr>
                    <tr>
                        <td>Anggota</td>
                        <td>:</td>
                        <td>
                            <ul id="listBansos"></ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Baris 3, Kolom 3 -->
        <div class="org-item gc-6-10 gr-9" id="box6">
            <table >
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: center;">Kelompok Pengelola Program Pemberdayaan Masyarakat Dan Penguatan Pelaku Usaha Mikro dan Kecil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="koorPermas"> </tr>
                    <tr>
                        <td>Anggota</td>
                        <td>:</td>
                        <td>
                            <ul id="listPermas"></ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <svg class="connector" id="connector"></svg>
    </div>
        
    <script src="{{ url_for('static', filename='js/organisasi.js') }}"></script>
</body>
</html>
