<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Tim Koordinasi Penanggulangan Kemiskinan Daerah Kota Tegal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <!-- Navigation Bar -->
  <nav>
    <ul class="menu">
      <li><a href="/">Beranda</a></li>
      <li><a href="/upaya">Upaya</a></li>
      <li><a href="/organisasi">Organisasi</a></li>
    </ul>
  </nav>

  <div class="org-container" id="grid">
    <div class="org-item" id="box1" style="grid-column: 4/7; grid-row: 1;">
        <table id="pj"> </table>
    </div>

    <div class="org-space-item" id="space1" style="grid-column: 5; grid-row: 2;">
    </div>

    <div class="org-item" id="box2" style="grid-column: 4/7; grid-row: 3;">
        <table class="ketuwaketu">
            <thead> <tr id="ketua"></tr> </thead>
            <tbody> <tr id="wakilKetua"> </tr> </tbody>
        </table>
    </div>

    <div class="org-space-item" id="space2" style="grid-column: 5; grid-row: 4;">
    </div>

    <!-- Baris 2, Kolom 4 -->
    <div class="org-item" id="box3" style="grid-column: 6/10; grid-row: 5;">
        <table >
            <thead> <tr id="sekretaris"> </tr> </thead>
            <tbody> 
                <tr id="wasek1"> </tr>
                <tr id="wasek2"> </tr>
                <tr id="wasek3"> </tr>
            </tbody>
        </table>
    </div>

    <div class="org-space-item" id="space3" style="grid-column: 5; grid-row: 6;">
    </div>


    <div class="org-item" id="box4" style="grid-column: 6/10; grid-row: 7;">
        <table>    
            <thead>
                <tr>
                    <th colspan="3" style="text-align: center;">Sekretariat</th>
                </tr>
            </thead>
            <tbody>
                <tr id="kepSek"> </tr>
                <tr id="waKepSek"> </tr>
                <tbody id="anggotaSek"></tbody>
            </tbody>
        </table>
    </div>
        
    <div class="org-space-item" id="space4" style="grid-column: 5; grid-row: 8;">
    </div>

    <!-- Baris 3, Kolom 1 -->
    <div class="org-item" id="box5" style="grid-column: 1/5; grid-row: 9;">
        <table >
            <thead>
                <tr>
                    <th colspan="3" style="text-align: center;">Kelompok Pengelola Program Bantuan Sosial dan Jaminan Sosial Terpadu Berbasis Rumah Tangga, Keluarga dan Individu</th>
                </tr>
            </thead>
            <tbody>
                <tr id="koorBansos"> </tr>
                <tbody id="anggotaBansos"></tbody>
            </tbody>
        </table>
    </div>

    <!-- Baris 3, Kolom 3 -->
    <div class="org-item" id="box6" style="grid-column: 6/10; grid-row: 9;">
        <table >
            <thead>
                <tr>
                    <th colspan="3" style="text-align: center;">Kelompok Pengelola Program Pemberdayaan Masyarakat Dan Penguatan Pelaku Usaha Mikro dan Kecil</th>
                </tr>
            </thead>
            <tbody>
                <tr id="koorPermas"> </tr>
                <tbody id="anggotaPermas"></tbody>
            </tbody>
        </table>
    </div>

    <svg class="connector" id="connector"></svg>
  </div>
      
  <script src="{{ url_for('static', filename='js/organisasi.js') }}"></script>
</body>
</html>
